@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#msg-box1-1z P {
  text-align: left;
}
#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-o .navbar-toggler {
  color: #000000;
}
#dropdown-menu-o .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}


#dropdown-menu-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-18 .nav .link,
#dropdown-menu-18 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-18 .navbar,
#dropdown-menu-18 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-18 .dropdown-menu a:hover,
#dropdown-menu-18 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-18 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-18 .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}


#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-o .navbar-toggler {
  color: #000000;
}
#dropdown-menu-o .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}



#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-o .navbar-toggler {
  color: #000000;
}
#dropdown-menu-o .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}
#form2-11 .btn {
  font-family: 'Montserrat', sans-serif;
}



#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-o .navbar-toggler {
  color: #000000;
}
#dropdown-menu-o .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}
#contacts2-d P {
  text-align: left;
}
#contacts2-d B {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}


#menu-k .navbar-toggler {
  color: #000;
}
#menu-k .navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#menu-k .nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
#menu-k .nav-link P {
  font-size: 18px;
}


#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-s .navbar-toggler {
  color: #000000;
}
#dropdown-menu-s .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}


#dropdown-menu-1e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1e .nav .link,
#dropdown-menu-1e .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1e .navbar,
#dropdown-menu-1e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1e .dropdown-menu a:hover,
#dropdown-menu-1e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1e .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1e .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}


#dropdown-menu-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1g .nav .link,
#dropdown-menu-1g .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1g .navbar,
#dropdown-menu-1g .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1g .dropdown-menu a:hover,
#dropdown-menu-1g .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1g .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1g .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}


#dropdown-menu-1i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1i .nav .link,
#dropdown-menu-1i .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1i .navbar,
#dropdown-menu-1i .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1i .dropdown-menu a:hover,
#dropdown-menu-1i .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1i .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1i .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}


#dropdown-menu-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1k .nav .link,
#dropdown-menu-1k .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1k .navbar,
#dropdown-menu-1k .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1k .dropdown-menu a:hover,
#dropdown-menu-1k .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1k .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1k .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}


#dropdown-menu-1m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1m .nav .link,
#dropdown-menu-1m .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1m .navbar,
#dropdown-menu-1m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1m .dropdown-menu a:hover,
#dropdown-menu-1m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1m .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1m .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}


#dropdown-menu-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1t .nav .link,
#dropdown-menu-1t .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1t .navbar,
#dropdown-menu-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1t .dropdown-menu a:hover,
#dropdown-menu-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1t .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1t .navbar-brand a B {
  font-family: 'Open Sans', sans-serif;
}
